a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: darkblue;
}

.banner {
    align-items: center;
    border-color: darkblue;
    border-style: solid;
    column-gap: 1%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
    position: sticky; top: 0;
    width: 100%;
}

.main-logo {

}