a {

}

.banner {
    align-items: center;
    border-color: darkblue;
    border-style: solid;
    display: flex;
    flex-direction: row;
    position: sticky; top: 0;
    width: 100%;
}

.main-logo {

}