a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: darkblue;
}

.banner {
    align-items: center;
    background-color: lightgray;
    border-color: darkblue;
    border-style: solid;
    column-gap: 1%;
    display: flex;
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-wrap: nowrap;
    justify-content: space-evenly;
    place-items: center;
    position: sticky; left: 0; right: 01px; top: 01px;
    width: 100%;
}

.main-logo {

}