a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: darkblue;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center; /* Try 'center' first to see if it aligns */
    
    background-color: lightgray;
    border: 2px solid darkblue; /* Shorthand is cleaner */
    
    width: 100%;
    min-height: 60px;
}

.main-logo {

}